<h1>Display</h1>
<p>Count of images uploaded : <%= @images.count %></p>
<hr>

<% unless @images.empty? %>
  <% @images.each do |image| %>
    <div>
      <%= image_tag image.name.url if image.name? %>
      <h4><%= image.description if image.description? %></h4>
    </div>
  <% end %>
<% end %>
