<div class="row text-center">
  <h2>Images</h2>
  <h5>Number of pictures uploaded : <%= @images.count %></h5>
  <div id="countdown-container">
    <h4> New random image in <span id="countdown">7 </span> seconds</h4>
  </div>
</div><!-- /row -->

<div class="row text-center">
  <div class="col-md-6 main-images">
    <% unless @images.empty? %>
      <%= image_tag(@random_image.name.url, id: "random-image") %>
      <p id="image-description"><%= @random_image.description if @random_image.description? %></p>
    <% end %>
  </div>
</div><!-- /row -->

<script>
  var imgElt = document.getElementById("random-image");
  var descriptionElt = document.getElementById("image-description");
  var timeLeft = 7;
  var serverUrl = "<%= @req_url %>";

  function ajaxGet(url, callback) {
    var req = new XMLHttpRequest();
    req.open("GET", url);
    // In case there was an answer from the server
    req.addEventListener("load", function() {
      if (req.status >= 200 && req.status < 400) {
        callback(req.responseText);
      } else {
        console.error(req.status + " " + req.statusText + " " + url)
      }
    });
    // If the server didn't process the request
    req.addEventListener("error", function() {
      console.error("Network error with this URL : " + url)
    });
    // Send request
    req.send(null);
  }

  function changePicture(reqResponse) {
    var responseJson = JSON.parse(reqResponse);
    var newPicture = responseJson.data.name.url;
    var newDescription = responseJson.data.description;
    imgElt.setAttribute("src", newPicture);
    descriptionElt.textContent = newDescription;
    timeLeft = 7;
  }

  function sendRequest() {
    ajaxGet(serverUrl, changePicture);
  }

  function updateTimer() {
    timeLeft --;
    document.getElementById("countdown").textContent = timeLeft;
  }

  window.setInterval(updateTimer, 1000);
  window.setInterval(sendRequest, 7000);
</script>
